<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.RoleResourceDao">
  <resultMap id="BaseResultMap" type="com.demo.domain.model.RoleResource">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <id column="resource_id" jdbcType="INTEGER" property="resourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    role_id, resource_id
  </sql>
  <insert id="insert" parameterType="com.demo.domain.model.RoleResource">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    INSERT INTO t_role_resource (
      role_id, resource_id
    VALUES (#{roleId,jdbcType=INTEGER}, #{resourceId,jdbcType=INTEGER})
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    INSERT INTO t_role_resource (
      role_id, resource_id
    ) VALUES 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item.role_id,jdbcType=INTEGER}, #{item.resource_id,jdbcType=INTEGER}
    </foreach>
  </insert>
  <select id="selectOne" parameterType="com.demo.domain.model.RoleResource" resultMap="BaseResultMap">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    SELECT <include refid="Base_Column_List" /> FROM t_role_resource
    <where>
      <if test="roleId != null">
        AND role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="resourceId != null">
        AND resource_id = #{resourceId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectList" parameterType="com.demo.domain.model.RoleResource" resultMap="BaseResultMap">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    SELECT <include refid="Base_Column_List" /> FROM t_role_resource
    <where>
      <if test="roleId != null">
        AND role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="resourceId != null">
        AND resource_id = #{resourceId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    SELECT <include refid="Base_Column_List" /> FROM t_role_resource
  </select>
  <delete id="deleteById" parameterType="com.demo.domain.model.RoleResourceKey">
    <!--@mbg.generated 2018-17-46 05:46:56-->
    DELETE FROM t_role_resource WHERE role_id = #{roleId,jdbcType=INTEGER} AND resource_id = #{resourceId,jdbcType=INTEGER}
  </delete>
</mapper>