@CHARSET "UTF-8";
.login-header{
	background-image: url(../images/top02.gif);
	height:147px;
}
.login-main{
	margin-bottom: 20px;
    margin-top: 16px;
/*     width: 600px; */
}
.login-main div{
	float:left;
/* 	border:solid 1px gray; */
/* 	margin:5px auto; */
/* 	padding:5px auto; */
}
.login-logo{
	padding-top:90px;
	
}
.login-divide{
	margin-left:5px;
	margin-right:5px;
}
.login-form{
	
}


.form-label{
	width:300px;
	font-family: "宋体";
    font-size: 13px;
}